@import '@prose-ui/next/prose-ui.css';
@import '@prose-ui/next/katex.min.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-dark.css';

@import 'tailwindcss';

/* Content source paths */
@source "../app/**/*.{js,ts,jsx,tsx,mdx}";
@source "../components/**/*.{js,ts,jsx,tsx,mdx}";

@theme {
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
    'Liberation Mono', monospace;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-foreground-high: hsl(var(--p-color-text-high));
  --color-foreground: hsl(var(--p-color-text));
  --color-foreground-low: hsl(var(--p-color-text-low));
  --color-foreground-lower: hsl(var(--p-color-text-lower));
  --color-foreground-lowest: hsl(var(--p-color-text-lowest));

  --color-background-high: hsl(var(--p-color-bg-high));
  --color-background: hsl(var(--p-color-bg));
  --color-background-low: hsl(var(--p-color-bg-low));
  --color-background-lower: hsl(var(--p-color-bg-lower));
  --color-background-lowest: hsl(var(--p-color-bg-lowest));

  --color-border: hsl(var(--p-color-border));

  --color-accent-high: hsl(var(--p-color-accent-high));
  --color-accent: hsl(var(--p-color-accent));
  --color-accent-low: hsl(var(--p-color-accent-low));

  --font-size-sm: var(--p-font-size-sm) / var(--p-font-height-sm);
  --font-size-sm-letter-spacing: var(--p-letter-spacing-sm);
}

:root {
  --p-font-family: var(--font-geist-sans);
  --p-font-family-heading: var(--font-geist-sans);
  --p-font-family-mono: var(--font-geist-mono);
  --sidenav-width: 15.625rem;
  --site-width: 80rem;
  --site-padding-x: 1.5rem;
  --toc-width: 12rem;
  --topnav-height: 3.5rem;
  --article-padding-t: var(--p-content-gap-heading);
  --article-padding-x: 0;
  --article-padding-x-md: theme(padding.6);
  --article-padding-x-lg: theme(padding.10);
  --article-padding-x-xl: theme(padding.14);
  --nav-heading-font-size: var(--p-h6-font-size);
  --nav-heading-line-height: var(--p-h6-font-height);
  --nav-heading-letter-spacing: var(--p-h6-letter-spacing);
  --nav-heading-font-weight: var(--p-h6-font-weight);
  --nav-link-font-size: var(--p-body-font-size);
  --nav-link-line-height: var(--p-body-font-height);
  --nav-link-letter-spacing: var(--p-body-letter-spacing);
  --nav-link-font-weight: var(--p-body-font-weight);
}

:root {
  --button-primary-color-bg: var(--gray-12);
  --button-primary-color-text: var(--gray-1);
}
:root:is(.dark) {
  --button-primary-color-bg: var(--gray-12);
  --button-primary-color-text: var(--gray-3);
}

.prose-ui {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 100px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  * {
    border-color: var(--color-border);
  }
}
